<a href="https://colab.research.google.com/github/Gabrielghj/ETL-5-ultimos/blob/main/ETL_5_%C3%BAltimos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ETL SKILL

In [184]:
import pandas as pd
import matplotlib.pyplot as plt

In [185]:
skill= pd.read_csv('skill_migration_public.csv')
skill.drop_duplicates(inplace=True)

In [186]:
columns_to_check = skill.columns[12:]

columns_to_drop = []

for column in columns_to_check:
    if skill[column].isnull().all():
        columns_to_drop.append(column)

skill.drop(columns=columns_to_drop, inplace=True)

In [187]:
column_rename_map = {}
for column in skill.columns:
    if column.startswith("net_per_10K_"):
        new_column_name = column.replace("net_per_10K_", "")
        column_rename_map[column] = new_column_name

skill.rename(columns=column_rename_map, inplace=True)

In [188]:
columns_to_drop = ["wb_income", "wb_region", "skill_group_id"]
skill.drop(columns=columns_to_drop, inplace=True)

In [189]:
skill_arg = skill[skill["country_name"] == "Argentina"]
skill_arg.reset_index(drop=True, inplace=True)

In [190]:
skill_Italy = skill[skill["country_name"] == "Italy"]
skill_Italy.reset_index(drop=True, inplace=True)

In [191]:
skill_spain = skill[skill["country_name"] == "Spain"]
skill_spain.reset_index(drop=True, inplace=True)

In [192]:
skill_usa = skill[skill["country_name"] == "United States"]
skill_usa.reset_index(drop=True, inplace=True)

In [193]:
skill_arg

,country_code,country_name,skill_group_category,skill_group_name,2015,2016,2017,2018,2019
0,ar,Argentina,Specialized Industry Skills,Sociology,-38.90,-126.02,-62.94,-71.28,-327.67
1,ar,Argentina,Business Skills,Affiliate Marketing,-134.97,-28.22,30.55,-83.54,-323.41
2,ar,Argentina,Business Skills,Sales Leads,-247.56,-157.47,-18.57,-117.29,-248.57
3,ar,Argentina,Specialized Industry Skills,Industrial Design,-84.95,-73.58,-32.87,-45.90,-245.16
4,ar,Argentina,Business Skills,Revenue Analysis,-87.48,-142.38,-115.12,-92.47,-233.48
...,...,...,...,...,...,...,...,...,...
166,ar,Argentina,Specialized Industry Skills,Electronic Control Systems,-53.34,64.95,154.56,222.89,23.41
167,ar,Argentina,Specialized Industry Skills,Utilities,-14.84,95.97,154.89,309.55,24.51
168,ar,Argentina,Specialized Industry Skills,Instrumentation,12.14,90.17,136.43,337.52,28.18
169,ar,Argentina,Specialized Industry Skills,Oil & Gas,8.50,112.19,173.10,417.52,87.37
170,ar,Argentina,Specialized Industry Skills,Drilling Engineering,33.35,191.54,321.82,607.12,108.72

In [194]:
skill_Italy

,country_code,country_name,skill_group_category,skill_group_name,2015,2016,2017,2018,2019
0,it,Italy,Specialized Industry Skills,National Security,-88.28,-386.81,-244.31,-49.02,-250.94
1,it,Italy,Soft Skills,Persuasion,-193.98,-301.18,148.29,-127.24,-200.93
2,it,Italy,Tech Skills,Data-driven Decision Making,-382.75,53.46,0.00,-129.23,-156.43
3,it,Italy,Soft Skills,Flexible Approach,-163.92,-181.98,-93.84,-147.94,-152.69
4,it,Italy,Disruptive Tech Skills,Artificial Intelligence (AI),-246.01,-224.34,-176.81,-165.04,-149.55
...,...,...,...,...,...,...,...,...,...
226,it,Italy,Specialized Industry Skills,Recreation,-35.18,-97.88,166.60,23.09,29.17
227,it,Italy,Specialized Industry Skills,Water Engineering,-112.18,-37.33,-19.62,-22.03,39.16
228,it,Italy,Specialized Industry Skills,Land Surveying,-143.95,-50.60,42.87,-27.26,42.45
229,it,Italy,Specialized Industry Skills,Wholesale,-102.66,-30.59,1.42,34.13,44.21
230,it,Italy,Specialized Industry Skills,Nuclear Physics,-283.31,-197.00,-184.85,-188.61,81.26

In [195]:
skill_spain

,country_code,country_name,skill_group_category,skill_group_name,2015,2016,2017,2018,2019
0,es,Spain,Specialized Industry Skills,Pathology,-165.72,-71.54,37.72,69.23,-3.11
1,es,Spain,Disruptive Tech Skills,Aerospace Engineering,-98.29,-13.11,30.08,-3.43,-2.33
2,es,Spain,Specialized Industry Skills,Zoology,-93.93,-31.32,3.01,15.99,-2.29
3,es,Spain,Specialized Industry Skills,Veterinary Medicine,-48.96,-12.77,17.75,54.50,-1.33
4,es,Spain,Specialized Industry Skills,Physiology,-210.09,-97.95,-5.11,5.54,-1.23
...,...,...,...,...,...,...,...,...,...
230,es,Spain,Soft Skills,Problem Solving,15.38,181.97,218.39,247.88,215.79
231,es,Spain,Specialized Industry Skills,Land Surveying,21.39,153.53,253.06,228.20,231.91
232,es,Spain,Business Skills,Competitive Strategies,44.55,118.32,200.54,189.70,252.99
233,es,Spain,Specialized Industry Skills,Alcoholic Beverages,266.13,197.18,323.63,267.03,287.84
234,es,Spain,Business Skills,Bookkeeping,106.56,169.16,225.70,224.51,289.45

In [196]:
skill_usa

,country_code,country_name,skill_group_category,skill_group_name,2015,2016,2017,2018,2019
0,us,United States,Specialized Industry Skills,Reading Comprehension,-11.44,6.17,0.38,-2.17,-6.28
1,us,United States,Tech Skills,Social Media,-0.58,-20.32,-6.17,-12.47,-5.77
2,us,United States,Specialized Industry Skills,Arts & Crafts,-0.80,4.19,3.64,-3.28,-5.11
3,us,United States,Specialized Industry Skills,Botany,-2.20,-5.07,10.30,-13.84,-4.88
4,us,United States,Specialized Industry Skills,Anthropology,5.29,5.15,0.26,-10.62,-3.87
...,...,...,...,...,...,...,...,...,...
244,us,United States,Tech Skills,Scientific Computing,128.45,141.32,104.36,70.75,59.55
245,us,United States,Disruptive Tech Skills,Development Tools,139.66,157.59,120.35,73.07,62.35
246,us,United States,Tech Skills,Mobile Application Development,114.94,120.83,94.30,69.73,65.13
247,us,United States,Disruptive Tech Skills,Artificial Intelligence (AI),274.62,281.59,225.54,181.17,168.78
248,us,United States,Disruptive Tech Skills,FinTech,14.05,11.87,103.23,68.37,188.66

ETL salarios trabajadores total

In [200]:
salarios= pd.read_csv('salarios_trabajadores_total.csv')

In [201]:
columns_to_drop = salarios.columns[2:35]
salarios.drop(columns=columns_to_drop, inplace=True)

In [202]:
columnas_anios = salarios.columns[3:]
salarios.dropna(subset=columnas_anios, how='all', inplace=True)

In [203]:
salarios.dropna(axis=1, how='all', inplace=True)

In [204]:
salarios

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Africa Eastern and Southern,AFE,24.941109,24.716870,24.555070,24.348283,24.286350,24.487882,24.454531,24.442671,...,25.297517,25.726854,26.213394,26.564049,26.640327,26.816008,27.016402,27.019002,25.895358,26.108689
2,Afghanistan,AFG,7.206729,7.254014,7.327020,7.366534,7.413086,7.444415,7.516612,7.594833,...,11.929900,12.901040,13.982730,15.153190,16.364920,17.549590,17.212950,16.826990,15.666040,NaN
3,Africa Western and Central,AFW,14.191762,14.184831,14.121494,14.117569,14.108385,14.175649,14.337085,14.505895,...,18.129337,18.018614,18.295082,18.603260,18.883041,19.212620,19.658150,20.202038,18.782412,19.188126
4,Angola,AGO,37.095650,36.993790,36.438960,35.974050,35.742590,35.805760,35.912700,36.039870,...,31.034940,33.794100,36.665630,36.894000,36.684140,36.380580,35.895090,35.283390,33.736070,34.147800
5,Albania,ALB,35.601370,34.910350,34.570980,34.451550,34.744260,35.248710,34.910770,35.112550,...,36.939980,40.481800,42.073820,41.187600,41.395860,42.901480,44.519040,45.731770,45.828760,46.954510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,62.165510,61.974560,61.925890,61.734680,61.750890,61.900210,61.913920,61.858970,...,64.194810,64.668220,65.012310,65.489120,66.289980,66.881300,67.247760,67.927730,68.593850,69.226340
262,"Yemen, Rep.",YEM,48.717060,48.911790,48.971430,49.104590,49.243870,49.329610,49.438600,49.637350,...,50.122660,50.384650,50.599570,48.540430,46.832630,45.375260,44.515430,44.094770,42.756400,43.198990
263,South Africa,ZAF,82.281240,82.171280,82.074650,82.002080,81.941930,81.914870,81.873610,81.786030,...,84.581420,85.135040,85.870770,85.411720,84.884380,84.531380,84.427730,83.661110,83.277940,83.482050
264,Zambia,ZMB,19.118200,18.939700,19.053210,18.606320,18.482380,18.553890,18.585410,18.366620,...,20.479340,21.078630,21.669740,22.134640,22.679050,23.259080,23.966750,24.576130,22.847710,23.259120
265,Zimbabwe,ZWE,36.337260,35.887540,35.475260,36.069790,36.468200,38.044270,39.196370,39.374080,...,34.008230,33.904490,33.914030,33.689030,33.423340,33.389130,33.435970,32.253140,31.438140,31.963440

ETL salarios trabajadores mujeres

In [207]:
salarios_M= pd.read_csv('salarios_trabajadores_mujeres.csv')

In [208]:
columns_to_drop = salarios_M.columns[2:35]
salarios_M.drop(columns=columns_to_drop, inplace=True)

In [209]:
columnas_anios = salarios_M.columns[3:]
salarios_M.dropna(subset=columnas_anios, how='all', inplace=True)

In [210]:
salarios_M.dropna(axis=1, how='all', inplace=True)

In [212]:
salarios_M

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Africa Eastern and Southern,AFE,17.261888,17.252284,17.254304,17.199406,17.243369,17.479197,17.573752,17.638019,...,19.010981,19.415744,19.838548,20.133865,20.194931,20.414596,20.644733,20.674383,19.831418,19.874301
2,Afghanistan,AFG,0.951877,1.003353,1.114518,1.162119,1.220168,1.222301,1.313974,1.412712,...,2.585614,3.169307,4.023759,5.163307,6.491346,7.662110,8.188098,8.377879,7.458117,NaN
3,Africa Western and Central,AFW,8.767142,8.792289,8.751814,8.716582,8.695596,8.722356,8.793083,8.875613,...,11.759486,11.547924,11.805545,12.123746,12.448559,12.727006,13.205346,13.737002,12.789556,13.050140
4,Angola,AGO,22.366920,22.544370,22.355560,22.341190,22.062500,22.099110,22.231920,22.421950,...,19.379590,22.394880,25.869440,26.627710,27.045700,27.218670,27.237730,26.982630,25.824040,26.311710
5,Albania,ALB,37.136600,36.740500,36.387910,36.280220,36.526780,37.093100,36.834260,36.901080,...,32.036660,37.100960,41.278180,42.720910,43.265480,45.069390,47.026770,47.888160,47.901300,49.041140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,59.990870,59.766590,59.707090,59.703700,59.720380,59.789300,59.852980,59.689620,...,63.130530,65.487360,67.600390,69.683360,71.979080,74.184520,74.515560,75.360860,76.300880,77.000170
262,"Yemen, Rep.",YEM,29.864790,30.195140,30.334040,30.529140,30.655370,31.121400,32.044150,33.169290,...,32.778030,32.708240,33.031590,31.990800,30.427610,28.846130,29.242420,29.186090,28.775330,29.053970
263,South Africa,ZAF,77.497060,77.433940,77.367170,77.333820,77.358500,77.345310,77.373330,77.399040,...,86.922870,87.047110,88.188700,87.938640,87.671450,87.032020,87.474350,86.702160,86.736710,86.995250
264,Zambia,ZMB,8.680133,8.758533,9.200572,9.004408,8.919554,8.994407,9.116998,9.140678,...,10.877890,11.476540,11.981740,12.513740,13.077010,13.901330,14.792750,15.400430,14.338180,14.612690
265,Zimbabwe,ZWE,17.905710,18.100550,17.795570,18.102640,18.975200,20.525280,22.033920,22.620320,...,24.787570,24.497770,24.378850,24.039440,23.767680,23.591410,23.666830,22.951390,22.351100,22.827840

ETL salarios trabajadores hombres

In [218]:
salarios_H= pd.read_csv('salarios_trabajadores_hombres.csv')

In [219]:
columns_to_drop = salarios_H.columns[2:35]
salarios_H.drop(columns=columns_to_drop, inplace=True)

In [220]:
columnas_anios = salarios_M.columns[3:]
salarios_H.dropna(subset=columnas_anios, how='all', inplace=True)

In [221]:
salarios_H.dropna(axis=1, how='all', inplace=True)

In [222]:
salarios_H

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Africa Eastern and Southern,AFE,31.367210,30.993970,30.722669,30.422263,30.311245,30.508451,30.383300,30.324200,...,30.882696,31.333423,31.874171,32.270438,32.367246,32.531204,32.720359,32.726699,31.273664,31.634443
2,Afghanistan,AFG,8.341757,8.381743,8.440229,8.473161,8.518861,8.545583,8.607264,8.677896,...,13.693510,14.858920,16.118190,17.437260,18.778170,20.132650,19.617930,19.122750,17.445260,NaN
3,Africa Western and Central,AFW,18.747403,18.701560,18.621238,18.649388,18.658191,18.759354,18.998810,19.244025,...,23.402917,23.368229,23.607172,23.881521,24.074613,24.433563,24.858044,25.423993,23.589343,24.093072
4,Angola,AGO,51.067270,50.739330,49.881300,49.031060,48.897790,49.026580,49.157670,49.278740,...,42.274460,44.799880,47.105100,46.839660,46.042150,45.297000,44.343000,43.409180,41.409260,41.738530
5,Albania,ALB,34.502540,33.458410,33.131760,32.993940,33.362370,33.827870,33.436430,33.803870,...,40.749050,42.998660,42.649140,40.080460,39.961600,41.282120,42.632690,44.082910,44.284280,45.391940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,63.346210,63.177640,63.125580,62.833630,62.843450,63.025680,63.006370,63.003570,...,64.753910,64.239130,63.658890,63.301160,63.316300,63.067750,63.452110,64.040740,64.608590,65.232250
262,"Yemen, Rep.",YEM,53.468310,53.581680,53.533840,53.616260,53.976550,54.247920,54.436550,54.678250,...,51.904480,51.967770,51.967330,49.807140,48.085530,46.636470,45.684140,45.239320,43.827220,44.255410
263,South Africa,ZAF,84.897990,84.793670,84.715740,84.658290,84.588320,84.585080,84.534520,84.411990,...,82.847340,83.680210,84.112690,83.495950,82.783180,82.611950,82.074780,81.306880,80.612670,80.788170
264,Zambia,ZMB,27.623680,27.478200,27.569140,26.959550,26.853030,26.954990,27.012600,26.676650,...,29.214060,29.800480,30.459290,30.859050,31.387010,31.753370,32.282380,33.059130,30.708020,31.190170
265,Zimbabwe,ZWE,53.122620,52.220910,51.855310,52.871670,52.964970,54.685480,55.621580,55.446170,...,43.566530,43.758820,44.001190,43.899190,43.617660,43.717290,43.722400,42.037910,40.874440,41.417100

ETL tasa pobreza

In [225]:
pobreza= pd.read_csv('tasa_pobreza.csv')

In [226]:
pobreza_arg = pobreza[pobreza["Country Name"] == "Argentina"]
pobreza_arg.reset_index(drop=True, inplace=True)

In [227]:
pobreza_arg.drop(columns=["Indicator Code"], inplace=True)

<ipython-input-227-0678532ed241>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pobreza_arg.drop(columns=["Indicator Code"], inplace=True)

In [228]:
pobreza_arg.dropna(subset=pobreza_arg.columns[4:], how='all', inplace=True)

<ipython-input-228-512e6dec1b78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pobreza_arg.dropna(subset=pobreza_arg.columns[4:], how='all', inplace=True)

In [229]:
pobreza_arg.dropna(axis=1, how='all', inplace=True)

<ipython-input-229-8142c180c8c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pobreza_arg.dropna(axis=1, how='all', inplace=True)

In [230]:
pobreza_arg

,Country Name,Country Code,Indicator Name,1980,1986,1987,1991,1992,1993,1994,...,2011,2012,2013,2014,2016,2017,2018,2019,2020,2021
0,Argentina,ARG,Annualized average growth rate in per capita r...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.52
1,Argentina,ARG,"Survey mean consumption or income per capita, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.14,NaN,NaN,NaN,NaN,24.77
2,Argentina,ARG,Annualized average growth rate in per capita r...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.19
3,Argentina,ARG,"Survey mean consumption or income per capita, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.34,NaN,NaN,NaN,NaN,9.25
4,Argentina,ARG,Poverty gap at $6.85 a day (2017 PPP) (%),1.5,2.1,2.8,4.5,5.0,5.5,5.7,...,2.8,2.80000,2.6,2.8,2.80,2.5,3.1,3.7,4.5,3.40
5,Argentina,ARG,Poverty headcount ratio at $6.85 a day (2017 P...,5.5,4.8,7.6,14.3,14.9,15.1,15.7,...,9.0,8.50000,8.5,9.1,8.80,7.9,9.7,11.2,14.1,10.60
6,Argentina,ARG,Poverty headcount ratio at national poverty li...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.30,25.7,32.0,35.5,42.0,37.30
15,Argentina,ARG,Poverty gap at $3.65 a day (2017 PPP) (%),0.3,1.2,1.2,1.1,1.8,2.1,2.1,...,0.7,0.80000,0.7,0.7,0.70,0.6,0.8,0.9,1.0,0.80
16,Argentina,ARG,Poverty headcount ratio at $3.65 a day (2017 P...,1.0,1.8,2.1,3.0,4.1,4.9,4.4,...,2.1,2.30000,2.0,2.1,2.10,2.1,2.6,2.9,3.5,2.50
17,Argentina,ARG,Gini index,40.8,42.8,45.3,46.8,45.5,44.9,45.9,...,42.6,41.30000,40.9,41.6,42.00,41.1,41.3,42.9,42.3,42.00
18,Argentina,ARG,Poverty gap at $2.15 a day (2017 PPP) (%),0.2,1.1,0.9,0.6,1.1,1.2,1.4,...,0.3,0.30000,0.3,0.3,0.30,0.2,0.3,0.3,0.3,0.40
19,Argentina,ARG,Poverty headcount ratio at $2.15 a day (2017 P...,0.3,1.1,1.2,1.0,1.7,2.0,1.9,...,0.7,0.60000,0.6,0.6,0.70,0.4,0.8,0.8,1.1,1.00
20,Argentina,ARG,Income share held by lowest 20%,5.3,5.1,4.6,4.8,4.6,4.5,4.4,...,4.8,5.00000,5.0,5.1,4.90,5.1,5.0,4.7,4.8,5.10
21,Argentina,ARG,Income share held by lowest 10%,2.0,1.8,1.6,1.7,1.6,1.5,1.5,...,1.7,1.70000,1.8,1.8,1.80,1.8,1.8,1.7,1.7,1.80
22,Argentina,ARG,Proportion of people living below 50 percent o...,19.3,17.9,18.7,17.2,19.6,20.1,20.7,...,20.7,20.20000,20.2,20.2,20.70,19.7,20.2,21.2,21.2,18.80
23,Argentina,ARG,Income share held by highest 10%,30.2,32.2,34.3,36.6,34.3,33.2,34.4,...,31.0,29.70000,29.4,29.9,30.40,29.7,29.8,31.0,30.3,30.80
24,Argentina,ARG,Income share held by highest 20%,46.6,48.5,50.6,52.5,50.9,49.9,51.0,...,47.8,46.50000,46.1,46.8,47.20,46.4,46.5,47.9,47.3,47.40
25,Argentina,ARG,Income share held by fourth 20%,22.6,21.8,21.5,20.3,21.5,22.0,21.6,...,22.7,23.20000,23.3,23.1,22.90,23.1,23.1,22.9,23.2,22.70
26,Argentina,ARG,Income share held by third 20%,15.4,14.6,14.1,13.3,13.9,14.3,14.0,...,15.0,15.40000,15.6,15.2,15.20,15.4,15.4,15.0,15.1,15.00
27,Argentina,ARG,Income share held by second 20%,10.2,9.9,9.3,9.1,9.2,9.3,9.0,...,9.6,9.90000,10.0,9.8,9.80,10.0,10.0,9.5,9.5,9.90
28,Argentina,ARG,Population living in slums (% of urban populat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.93801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN